.queue-item {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin-top: 1vh;
  cursor: pointer;
}

.queue-item:hover {
  color: rgb(2, 88, 99);
}

.queue-item img {
  margin-right: .5vh;
}