.search-result-item {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  margin-top: 1vh;
  cursor: pointer;
}

.search-result-item:hover {
  color: rgb(2, 88, 99);
}

.search-result-item img {
  margin-right: .5vh;
}

/*border: <width> <styling> <color>*/